Source: python-coverage-test-runner
Maintainer: Lars Wirzenius <liw@liw.fi>
Homepage: http://liw.fi/coverage-test-runner/
Section: python
Priority: optional
Standards-Version: 3.9.8
Build-Depends: debhelper (>= 9), python-all (>= 2.7~),
    python-coverage
X-Python-Version: >= 2.7

Package: python-coverage-test-runner
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, python (>= 2.7), python-coverage
Description: fail Python program unit tests unless they test everything
 This package contains the Python module CoverageTestRunner, which runs
 unit tests implemented using the unittest module in the Python standard
 library. It runs them using coverage.py (in the python-coverage package)
 and fails the test if all statements are not covered.
